@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400|Yanone+Kaffeesatz:700');

/**
 Reset
**/
button,
div {
  display: block;
}

html,
body {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

:root {
  --color-light-blue: #b8b9fc;
  --color-dark-blue: #00006d;
  --color-red: #b44f43;
  --color-white: rgba(255, 255, 255, 0.7);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Crimson Text', serif;
  color: #fff;
  font-weight: 400;
  background-image: url('../assets/sky.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

body.game-started {
  background-image: url('../assets/sky2.jpg');
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: overlay 200ms linear;
}

.overlay--hidden {
  display: none;
}

.content {
  max-width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: slideUp 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 300ms transform ease;
}

.intro-text {
  font-size: 1.9em;
  text-align: center;
  font-weight: 400;
  line-height: 1.3em;
  text-shadow: 0 2px 0 var(--color-dark-blue);
}

.intro-text__error {
  color: #fff;
  text-shadow: 0 2px 0 var(--color-red);
  border: 1px solid var(--color-red);
  background: var(--color-red);
  border-radius: 10px;
  padding: 0.7em;
}

.gameover-text {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
  font-size: 3.3em;
  text-shadow: 0 2px 0 var(--color-dark-blue);
  line-height: 0.3em;
}

.logo {
  width: 90%;
  height: auto;
}



/**************
Progress bar
**************/

.progress {
  background-color: #fff;
  border-radius: 50px;
  box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 35px;
}

.progress__bar {
  width: 0;
  height: inherit;
  box-shadow: inherit;
  border-radius: inherit;
  transition: 0.5s ease all;
  animation: progress-anim 2s linear infinite;
  background-size: 40px 40px;
  background-image: linear-gradient(
    45deg,
    var(--color-red) 25%,
    transparent 25%,
    transparent 50%,
    var(--color-red) 50%,
    var(--color-red) 75%,
    transparent 75%,
    transparent
  );
}

/**************
Buttons
**************/

.btn {
  color: var(--color-dark-blue);
  text-decoration: none;
  background-color: #fff;
  letter-spacing: 0.5px;
  font-family: 'Yanone Kaffeesatz';
  font-weight: 700;
  font-size: 3em;
  padding: 4px;
  border-radius: 8px;
  border: 0;
  /* box-shadow: 0px 9px 0px var(--color-light-blue), 0px 9px 25px rgba(0, 0, 0, 0.7); */
  box-shadow: 0px 9px 0px var(--color-light-blue), 0px 2px 3px rgba(0, 0, 0, 0.7);
  width: 230px;
  text-align: center;
  transition: all 0.1s ease;
  outline: 0;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.07);
}

.btn:active {
  position: relative;
  box-shadow: 0px 3px 0px var(--color-light-blue), 0px 3px 6px rgba(0, 0, 0, 0.9);
  top: 6px;
}

.btn-key {
  width: auto;
  font-size: 2em;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  box-shadow: 0px 5px 0px var(--color-light-blue), 0px 9px 25px rgba(0, 0, 0, 0.7);
}

.btn-credits {
  color: var(--color-white);
  appearance: none;
  background: none;
  border: 0;
  font-size: 1.2em;
  padding: 0;
  margin-top: 2em;
  display: inline-flex;
  border-bottom: 1px solid var(--color-white);
  cursor: pointer;
}

.btn-credits:hover {
  color: #fff;
  transform: scale(1.07);
}

.btn-credits-close {
  appearance: none;
  background: none;
  border: 0;
  font-size: 1.2em;
  color: var(--color-dark-blue);
  border-radius: 6px;
  border: 2px solid;
  padding: 0.2em 1em;
  cursor: pointer;
}

.btn-credits-close:hover {
  background: var(--color-dark-blue);
  color: #fff;
}
.modal {
  position: fixed;
  z-index: 9999;
  display: flex;
  width: 50%;
  height: 400px;
  border-radius: 40px;
  background: #fff;
  color: #000;
  padding: 2em;
  box-shadow: 0 0 50px 0px rgba(0, 0, 0, 20%);
}

.modal h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 3.6em;
  margin-bottom: 0.5em;
}

.credits-list {
  font-size: 1.6em;
}

/**************
Keyframes
**************/



.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.glow {
  -webkit-animation-name: glow;
  animation-name: glow;
}

@keyframes glow {
  from {
    box-shadow: 10px 10px -126px 6px #aef4af;
  }
  to {
    box-shadow: 10px 10px 126px 6px #aef4af;
  }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes progress-anim {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

@keyframes slideUp {
  0% {
    -webkit-transform: translate3d(0, 100px, 0);
    -moz-transform: translate3d(0, 100px, 0);
    -ms-transform: translate3d(0, 100px, 0);
    -o-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
    opacity: 0;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes overlay {
  0% {
    background: rgba(0, 0, 0, 0);
  }

  100% {
    background: rgba(0, 0, 0, 0.7);
  }
}
