@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400|Yanone+Kaffeesatz:700');

/**
 Reset
**/
button,
div {
  display: block;
}

html,
body {
  margin: 0;
  padding: 0;
}



:root {
  --color-light-blue: #b8b9fc;
  --color-dark-blue: #00006d;
  --color-red: #b44f43;
  --color-white: rgba(255, 255, 255, 0.7);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Crimson Text', serif;
  color: #fff;
  font-weight: 400;
  background-image: url('../assets/sky.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

body.game-started {
  background-image: url('../assets/sky2.jpg');
}






