html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Crimson', serif;
  color: #fff;
  font-weight: bold;
  background-image: url('/src/assets/sky.jpg');
  background-size: cover;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content {
  max-width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo {
  width: 90%;
  height: auto;
}

.score-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  right: 10px;
  font-size: 3.7em;
  font-weight: 500;
  padding: 10px;
  color: #d42426;
}

.score-wrapper .gift {
  width: 70px;
  margin-right: 20px;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.glow {
  -webkit-animation-name: glow;
  animation-name: glow;
}

@keyframes glow {
  from {
    box-shadow: 10px 10px -126px 6px #aef4af;
  }
  to {
    box-shadow: 10px 10px 126px 6px #aef4af;
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.4, 1.4, 1.4);
    transform: scale3d(1.4, 1.4, 1.4);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/**
Progress bar
**/

.progress {
  background-color: #fff;
  border-radius: 50px;
  box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.6);
  width: 60%;
  height: 35px;
}

.progress__bar {
  width: 0;
  height: inherit;
  box-shadow: inherit;
  border-radius: inherit;
  transition: 0.5s ease all;
  background-color: #ef1c1c;
  animation: progress-anim 1s linear infinite;
  background: repeating-linear-gradient(45deg, #ff0000, #ff0000 0, #fff 10px, #fff 20px);
}

@keyframes progress-anim {
  from {
    background-position: 50px 0;
  }
  to {
    background-position: 0 0;
  }
}
